*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --BACKGROUND-COLOR:black;
    --FONT-COLOR:whitesmoke;
    --FAV-COLOR:#475569;
    --THEME-COLOR: cadetblue;
}

body{
    min-height: 100vh;


    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    
    background-image: url(login-page2-backgroud-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-box{
    border: 2px solid var(--THEME-COLOR);
    backdrop-filter: blur(0.1rem);
    border-radius: 1rem;
    width: 25rem;
    height: 25rem;
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    margin: 1rem;
}
h1{
    text-align: center;
    font-size: 2rem;
    color: var(--FONT-COLOR);
    
}

.main-box .input{
    position: relative;
    width: 100%;
    height: 2.3rem;
    margin: 1rem 0;
}
.input input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: 1rem;
    border: 2px solid var(--THEME-COLOR);
    border-radius: 1rem;
    padding: 1rem;
    color: var(--FONT-COLOR);
}
.input input::placeholder{
    color: var(--FONT-COLOR);
    font-size: 1rem;
    
}
.input i{
    position: absolute;
    font-size: 1.3rem;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);

}

.main-box .tool{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: var(--FONT-COLOR);


}
.tool label input{
    accent-color: var(--THEME-COLOR);
    margin:  0 0.5rem 0 0.5rem;
}

.tool a{
    color: var(--FONT-COLOR);
    text-decoration: none;
    font-weight: bold;
}
.tool a:hover{
    text-decoration: underline;
}

.main-box button{
    border: 1px solid var(--THEME-COLOR);
    box-shadow: 0.1rem 0.1rem 5px var(--THEME-COLOR);
    border-radius: 1.5rem;
    width: 12rem;
    height: 2.5rem;
    margin-left: 4rem;
    font-size: 1rem;
    
}
.signup-button{
    margin: 0.5rem;
    text-align: center;
    color: var(--FONT-COLOR);


}
.signup-button p a{
    color: var(--FONT-COLOR);
    font-weight: bold;
    text-decoration: none;
}
.signup-button a:hover{
    text-decoration: underline;
}